body {
    font-family: Fantasy ;
    background-color:  #ffecd4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-password-container {
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
    border-radius: 8px;
}

.reset-password-container h2 {
    color: #333;

}

.reset-password-container form {
    margin-top: 20px;
}

.input-group{
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
}  

/* label{
    margin-bottom: 5px;
} */

.reset-password-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 4px;
}

.reset-password-container button {
    width: 100%;
    padding: 10px;
    background-color:  #7a5e3c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: fantasy;

}
.reset-password-container button:hover {
    background-color: #57432b;
    
}  