body{
    background: linear-gradient(90deg, rgb(199, 198, 196), rgb(77, 71, 48));
}
main{
    display: flex;
    justify-content: end;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
/* .sideBar{
    height: 100%;
    display: flex;
    justify-content: space-between;
} */
.titleblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logoblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#logo{
    width: 260px;
}
.title{
    font-size: 80px;
}
.mainBlock{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60%;
    color: white;
}
/* div{
    border: solid black 2px;
} */
.sum{
    display: flex;
    align-items: center;
    color: white;
}
.cardd{
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.cardd img{
    width: 400px;
    border-radius: 16px;
    box-shadow: 0 14px 18px rgba(0,0,0,0.2);

}
.currencyMainBlock{
    color: white;
    border: #cacaca solid 1px;
    /* background: white; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;    
    padding: 40px;
    border-radius: 8px;
    /* margin: 40px 0 40px 0; */
}
#currencyContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.currency{
    padding-top: 20px;
}
.sectionBox{
    background: white;
    color: rgb(52, 52, 52);
    padding: 40px;
    /* border: solid 1px rgb(194, 194, 194); */
    border-radius: 8px;
    box-shadow: 0 14px 18px rgba(0,0,0,0.1);
    width: 100%;
    margin-top: 10%;

}
.section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;

}
.helmetImg{
    width: 150px;
    margin-top: 75px;
}

#slidebarImg{
    width: 20%;
}

.selectCustom{
margin: 0px 0 20px 0;
}
/* .cardSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.data-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 7px;
}
.label {
    font-weight: bold;
}
