body {
    font-family: fantasy;
    background-color:  #ffecd4;
    /* background-image: url('/1531132_4088.jpg'); */
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: repeat; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

form {
    border: #cacaca solid 1px;
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 40px 0 40px 0;
}

form label {
    display: block;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="button"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: fantasy;
}

form input[type="button"] {
    background-color:  #ada8a2;
    color: white;
    border: 2px solid #ada8a2;
    cursor: default;
}

/* form input[type="button"]:hover {
    background-color: #57432b;
} */

form a {
    color: #7a5e3c;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}
.form-explain{
    font-family:'Trebuchet MS', sans-serif;
    font-size: 11px;
    color: #c8c2bc;
}

p{
    text-align: center;
}
.input-group{
    margin-bottom: 20px;
}

#helmet{
    width: 60px;
    position: relative;
    top: 90px;
    right: 15px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* top: 10%;
    left: 10%;
    clip: rect(0px, 150px, 200px, 0px); */
}

#shield{
    width: 60px;
    position: relative;
    bottom: 90px;
    left: 335px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* top: 10%;
    left: 10%;
    clip: rect(0px, 150px, 200px, 0px); */
}
